---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Mis Ideas - FC | 404">
    <Header/>
    <main class="grid place-items-center">
        <p class=" m-60 text-9xl font-bold">404</p>
    </main>
</Layout>