---
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mis Ideas - FC">
	<Header/>
	<main class="flex justify-center my-5">
		<section class="grid w-80 gap-10 grid-cols-1 md:max-w-2xl md:w-full md:grid-cols-2">
			<Card NombreIdea="Slider XY" TextoIdea="Slider horizontal y vertical." Pagina='sliderxy'/>
			<Card NombreIdea="Menú Suave" TextoIdea="Menú con transición suave entre secciones." Pagina='menusuave'/>
		</section>
	</main>
	<Footer/>
</Layout>