---
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mis Ideas - FC">
	<Header/>
	<main class="flex justify-center my-5">
		<Card NombreIdea="Slider XY" TextoIdea="Slider horizontal y vertical." Pagina='sliderxy'/>
	</main>
	<Footer/>
</Layout>