---
interface Props {
	NombreIdea: string;
	TextoIdea: string;
	Pagina: string;
}

const { NombreIdea, TextoIdea, Pagina } = Astro.props;
---

<article class="py-3 m-5 w-72 h-auto grid place-items-center bg-gray-900 rounded-xl border-2 border-purple-950 hover:border-purple-500">
	<a href=`/${Pagina}`>
		<h2 class="text-xl font-bold">{NombreIdea}</h2>
		<p class=" max-w-52 text-base">{TextoIdea}</p>
	</a>
</article>